<h1> Hello in TWIG in controller </h1>
<p> {{ welcomeText|upper }} {{ name }} {{ surname }}</p>
<br>
{# {% if name|length > 10 %}
    <p> Masz długie imie </p>
{% else %}
    <p>Nie masz dlugiego imienia </p>
{% endif %} #}

