{% extends "::base.html.twig" %}

{% block title %}DataBaseBundle:Form:simpleForm{% endblock %}

{% block body %}
    <h1>Welcome to the Form:simpleForm page</h1>
    {{ dump(dataToShow) }}
{% endblock %}