{% extends "::base.html.twig" %}

{% block title %}DataBaseBundle:Product:edit{% endblock %}

{% block body %}
    <h1>Welcome to the Product:edit page</h1>
    <form method="POST">
        Nazwa:
        <input type="text" name="productName" value="{{ product.name }}"> <br>
        Opis:
        <input type="text" name="productDesc" value="{{ product.description }}"> <br>
        Cena:
        <input type="number" name="productPrice" step="0.01" value="{{ product.price }}"> <br>
        Ilość:
        <input type="number" name="productQuantity" value="{{ product.quantity }}"> <br>
        <input type="submit">
    </form>
{% endblock %}
