<ul>
    <li>Product name: {{ product.name }}</li>
    <li>Product description: {{ product.description }}</li>
    <li>Product price: {{ product.price }}</li>
    <li>Product quantity: {{ product.quantity }}</li>
   </ul>